<!DOCTYPE html>
<html>
  <%- include('./includes/header', {title: "404 - Not found"}); %>
<body>

  <div class="grid-container">
    <header>
      <h1>404 - QuotesRank</h1>
    </header>

    <%- include('./includes/nav'); %>

    <div class="main-body">
      <div class="center">
        <h3>You requested an invalid page :(</h3>
        <p style="text-align: center;">Go back to <a href="/">homepage</a></p>
      </div>
    </div>

    <%- include('./includes/footer'); %>

  </div>
</body>
</html>
