<!DOCTYPE html>
<html>
  <%- include("./includes/header", {title: "Top 50 - QuotesRank"}); %>
<body onload="highlightCurrentURL()">


  <div class="grid-container">
    <header>
      <h1>Top 50 - QuotesRank</h1>
    </header>

    <%- include("./includes/nav"); %>
  
    <div class="quotes-container">
      <% quotes.map((quote) => { %>
        <%- include("./includes/quote", {quote, req}); %>
      <% }); %>
    </div>
    
    <%- include("./includes/footer") %>

  </div>

</body>
</html>
